.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 818px;
    .tile{
        width: 236px;
        height: 304px;
        // background-color: aqua;
        background-position: center;
        background-repeat: none;
        background-size: cover;
        color: white;
        text-align: center;
        h1{
            margin-top: 47px;
            font-family: proxima-excond;
            font-size: 60px;
            text-transform: uppercase;
            margin-bottom: 0px;
        }
        h2{
            margin-top: 0px;
            margin-bottom: 0px;
            font-family: proxima-excond;
            font-size: 30px;
            text-transform: uppercase;
        }
        a{
            display: block;
            margin: 0 auto;
            margin-top: 56px;
            color: white;
            text-decoration: none;
            font-family: gillregular;
            font-size: 15px;
            text-transform: uppercase;
            height: 40px;
            width: 133px;
            border-radius: 20px;
            background-color: $site-blue;
            padding-top: 10px;
        }
    }
}

