#app{
    .home{
        .hero{
            width: 100%;
            height: 500px;
            background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hero.jpg);
            @include imgback();
            text-align: center;
            padding-top: 172px;
            color: white;
            h1{
                text-transform: uppercase;
                @include proxbig();
                margin-bottom: 0px;
            }
            p{
                margin-top: 29px;
                font-family: gillitalic;
                font-size: 20px;
                margin-bottom: 0px;
            }
            a{
                display: block;
                margin: 0 auto;
                margin-top: 48px;
                height: 40px;
                width: 121px;
                @include buttons();
                color: white;
                padding-top: 10px;
            }
        }
        
        //taken from in class lecture, here just for myself
        
        // @media (max-width: 860px) {
        //     // use "and" between () to have multiple things, ie min and max
        //     .home{
        //         .promo{
        //             flex-direction: column;
        //             align-items: center;
        //             // align items becomes left to right because we changed to columns
        //             // in components:
        //             .tour-component{
        //                 margin-bottom: 20px;
        //             }
        //         }
        //     }
        // }
        
        
        // listen man i know div.container is a typo but when i noticed it and changed it my margin top stopped working so uhhh its staying
        div.container{
            margin-top: -43px;
        }
        
        .form{
            max-width: 858px;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 100px;
            h1{
                @include proxbig();
                text-transform: uppercase;
            }
            input{
                height: 58px;
                margin-bottom: 20px;
                font-family: gilllight;
                font-size: 18px;
                padding-left: 20px;
                border: solid 1px $site-blue;
            }
            input:focus{
                outline: none;
            }
            #left{
                width: 344px;
                margin-right: 17px;
            }
            #right{
                width: 453px;
            }
            .form-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                // background-color: orange;
                position: relative;
            }
            #check{
                width: 698px;
            }
            p{
                font-family: gilllight;
                font-size: 18px;   
            }
            i{
                position: absolute;
                font-size: 19px;
            }
            #calender{    
                top: 20px;
                right: 20px;
            }
            #dropdown{
                width: 103px;
            }
            #down1{
                right: 20px;
                top: 20px;
            }
            #down2{
                right: 39%;
                top: 20px;
            }
            #down3{
                right: 76%;
                top: 20px;
            }
            #message{
                width: 100%;
                height: 192px;
            }
            #message::placeholder{
                position: absolute;
                top: 20px;
            }
            a{
                display: block;
                @include buttons();
                color: white;
                width: 100%;
                height: 60px;
                margin: 0 auto;
                margin-top: 17px;
                border-radius: 30px;
                text-align: center;
                padding-top: 23px;
            }
        }
        
        @media (max-width: 880px){
            .container{
                flex-direction: column;
                align-items: center;
                .tile{
                    margin-bottom: 20px;
                }
            }
            .form{
                #left, #right{
                    width: 100%;
                }
                #check{
                    width: 80%;
                }
            }
        }
    }
}

.homeapp{
    margin: 0 !important;

}